IMPORT_PBF=import.osm.pbf
IMPOSM_PARAMETER=
export PGHOST=localhost
export PGPORT=5432
export PGUSER=osm
export PGPASSWORD=osm
export PGDATABASE=osm_parking
export imprint_addr="Any Person
This Street 42
12345 Wheretown"
export imprint_mail=osm@example.org