<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {% block styles %}
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/map.css')}}" />
    {% endblock %}
  </head>
  <body>

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">{{ _('OSM Bicycle Parking') }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="nav navbar-nav">
                <li class="nav-item {% if request.endpoint=='main.statistics' %}active{% endif %}"><a href="{{ url_for('main.statistics') }}" class="nav-link">{{ _('Statistics') }}</a></li>
                <li class="nav-item {% if request.endpoint=='main.parkingmap' %}active{% endif %}"><a href="{{ url_for('main.parkingmap') }}" class="nav-link">{{ _('Parking Map') }}</a></li>
                <li class="nav-item dropdown {% if request.endpoint=='main.missingmap' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Missing Parking Map') }}</a>
                        <div class="dropdown-menu">
                            {% for row in _external_data %}
                                <a href="{{ url_for('main.missingmap', city=row['city']) }}" class="dropdown-item">{{ row['city'] }}</a>
                            {% endfor %}
                        </div>
                </li>
                <li class="nav-item dropdown {% if request.endpoint=='main.rentalmap' %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Rental Map') }}</a>
                    <div class="dropdown-menu">
                        {% for row in _rental_data %}
                            <a href="{{ url_for('main.rentalmap', city=row['city'], brand=row['brand']) }}" class="dropdown-item">{{ row['city'] }} ({{ row['brand'] }})</a>
                        {% endfor %}
                    </div>
            </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item {% if request.endpoint=='main.imprint' %}active{% endif %}"><a href="{{ url_for('main.imprint') }}" class="nav-link">{{ _('Imprint') }}</a></li>
            </ul>
                <li class="nav-item"><a href="https://github.com/britiger/bikeparkingberlin/" class="nav-link">{{ _('GitHub') }}</a></li>
            </ul>
        </div>
</nav>

{% endblock %}

<div class="container pt-4 pb-5">
  {% block content %}{% endblock %}
</div>

{% block scripts %}
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
{% endblock %}
</body>
</html>
