{%- extends "base.html" %}

{% block title %}Start{% endblock %} 

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{{ _('Bicycle Parking in OpenStreetMap') }}</h1>
        </div>

        <h2>{{ _('Wiki pages') }}</h2>

        <ul>
            <li><a href="https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dbicycle_parking">amenity=bicycle_parking</a></li>
        </ul>

        <h2>{{ _('External Sources')}}</h2>

        <ul>
            <li><a href="https://fbinter.stadt-berlin.de/fb/index.jsp">Stadt Berlin - FIS-Brocker - Geoportal Berlin / Straßenbefahrung 2014 - Fahrradständer (WFS)</a> (<a href="https://www.govdata.de/dl-de/by-2-0">Datenlizenz Deutschland - Namensnennung - Version 2.0</a>)</li>
            <li><a href="http://suche.transparenz.hamburg.de/dataset/bike-ride-anlagen-hamburg12">Stadt Hamburg - Transparenzportal Hamburg - Freie und Hansestadt Hamburg, Behörde für Wirtschaft, Verkehr und Innovation - Bike + Ride Anlagen Hamburg</a> (<a href="https://www.govdata.de/dl-de/by-2-0">Datenlizenz Deutschland - Namensnennung - Version 2.0</a>)</li>
            <li><a href="https://opendata.jena.de/dataset/fahrradabstellanlagen">Stadt Jena - Open Data - Fahrradabstellanlagen</a> (<a href="https://www.govdata.de/dl-de/by-2-0">Datenlizenz Deutschland - Namensnennung - Version 2.0</a>)</li>
            <li><a href="https://open.nrw/dataset/fahrradstaender-odp">Stadt Moers - open.nrw - Fahrradständer</a> (<a href="https://www.govdata.de/dl-de/zero-2-0">Datenlizenz Deutschland – Zero – Version 2.0</a>)</li>
            <li><a href="https://opendata.schleswig-holstein.de/dataset/bike-and-ride">Stadt Noderstedt - Open Data Schleswig-Holstein - Bike and Ride</a> (<a href="https://www.govdata.de/dl-de/zero-2-0">Datenlizenz Deutschland – Zero – Version 2.0</a>)</li>
            <li><a href="https://www.opendata-hro.de/dataset/fahrradabstellanlagen">Stadt Rostock - OpenData.HRO - Fahrradabstellanlagen</a> - (<a href="https://creativecommons.org/publicdomain/zero/1.0/">Creative Commons Zero Universal 1.0 Public Domain Dedication</a>)</li>
        </ul>
    </div>
{%- endblock %}