{%- extends "base.html" %}

{% block title %}Start{% endblock %} 

{% block content %}
        <div class="page-header">
            <h1>{{ _('Bicycle Parking in OpenStreetMap') }}</h1>
        </div>

        <h2>{{ _('Wiki pages') }}</h2>

        <ul>
            <li><a href="https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dbicycle_parking">amenity=bicycle_parking</a></li>
            <li><a href="https://wiki.openstreetmap.org/wiki/Tag:amenity%3Dbicycle_rental">amenity=bicycle_rental</a></li>
            <li><a href="https://wiki.openstreetmap.org/wiki/DE:Tag:network%3Dnextbike">network=nextbike (DE)</a></li>
        </ul>

        <h2>{{ _('External Sources')}}</h2>

        <ul>
            {% for row in _external_data %}
                <li><a href="{{ row['datasource_link'] }}">{{ row['city'] }} - {{ row['datasource'] }}</a> (<a href="{{ row['license_link'] }}">{{ row['license'] }}</a>)</li>
            {% endfor %}
        </ul>

        <h3>{{ _('Bicycle Rental') }}</h3>

        <ul>
            {% for row in _rental_data %}
                    <li><a href="{{ row['datasource_link'] }}">{{ row['city'] }} - {{ row['datasource'] }}</a> (<a href="{{ row['license_link'] }}">{{ row['license'] }}</a>)</li>
            {% endfor %}
        </ul>
{%- endblock %}
