{%- extends "base.html" %}

{% block title %}{{ _('Missing Parking Map') }} {{ city }}{% endblock %} 

{% block scripts %}
    {{super()}}
    {% include "head_map_js.html" %}
    <script>
        var start_at_zoom = 11;

        function load_geojson() {

            if (mymap.getZoom() < start_at_zoom){
                console.log('Skip loading geojson : ' + mymap.getZoom());
                box.show( "{{ _('Need to zoom in to view bicycle parking') }}" );
                return;
            }

            var customParams = {
                bbox: mymap.getBounds().toBBoxString()
            };

            $.ajax({
                dataType: "json",
                url: "/geojson/missing/{{ city }}" + L.Util.getParamString(customParams),
                success: function(data) {
                    nodes.clearLayers();
                    $(data.features).each(function(key, data) {
                        nodes.addData(data);
                    });
                    if (window.location.hash) {
                        // open Popup for current selected node
                        openNode(window.location.hash.substring(1));
                    }
                    load_existing(customParams);
                }
                });
            
        }

        function load_existing(customParams) {
            $.ajax({
                dataType: "json",
                url: "/geojson/existing/{{ city }}" + L.Util.getParamString(customParams),
                success: function(data) {
                    $(data.features).each(function(key, data) {
                        nodes.addData(data);
                    });
                    clusterGroup.clearLayers();
                    clusterGroup.addLayer(nodes);
                    if (window.location.hash) {
                        // open Popup for current selected node
                        openNode(window.location.hash.substring(1));
                    }
                }
                });
        }

        mymap.on('moveend', load_geojson);
        var box = L.control.messagebox({ timeout: 5000 }).addTo(mymap);
        mymap.setView([{{ external_data['center_lat'] }},{{ external_data['center_lon'] }}],{{ external_data['zoom_level'] }});

    </script>
{% endblock %}

{% block styles %}
    {{super()}}
    {% include "head_map_css.html" %}
{% endblock %}

{% block content %}
    <div class ="container">
        <div class="page-header">
            <h1>{{ _('Missing Parking Map') }} {{ city }}</h1>
            <ul>
                <li>{{ _('Total Parking') }}: {{ all_parking }}</li>
                <li>{{ _('Missing Parking') }}: {{ missing_parking }}</li>
                <li>{{ _('Coverage') }}: {{ "%.2f"|format(100 - missing_parking / all_parking * 100) }}%</li>
                <li>{{ _('Datasource') }}: <a href="{{ external_data['datasource_link'] }}">{{ external_data['datasource'] }}</a></li>
                <li>{{ _('License') }}: <a href="{{ external_data['license_link'] }}">{{ external_data['license'] }}</a></li>
            </ul>
        </div>
        <div id="mapid"></div>
    </div>
{%- endblock %}