{%- extends "base.html" %}

{% block title %}{{ _('Missing Parking Map') }} {{ city }}{% endblock %} 

{% block scripts %}
    {{super()}}
    {% include "head_map_js.html" %}
    <script>
        var start_at_zoom = 11;
        var is_cluster = (new URL(location.href)).searchParams.get('is_cluster');
        console.log(is_cluster);

        function load_geojson() {

            if (mymap.getZoom() < start_at_zoom){
                console.log('Skip loading geojson : ' + mymap.getZoom());
                box.show( "{{ _('Need to zoom in to view bicycle parking') }}" );
                return;
            }

            var customParams = {
                bbox: mymap.getBounds().toBBoxString()
            };
            if(is_cluster)
                customParams['is_cluster'] = is_cluster;

            nodes.clearLayers();

            if (!document.getElementById("show_red").checked) {
                load_existing(customParams);
                return;
            }

            $.ajax({
                dataType: "json",
                url: "/geojson/missing/{{ city }}" + L.Util.getParamString(customParams),
                success: function(data) {
                    $(data.features).each(function(key, data) {
                        nodes.addData(data);
                    });
                    loadHashId();
                    load_existing(customParams);
                }
                });
            
        }

        function load_existing(customParams) {
            if (!document.getElementById("show_green").checked) {
                clusterGroup.clearLayers();
                clusterGroup.addLayer(nodes);
                return;
            }
            $.ajax({
                dataType: "json",
                url: "/geojson/existing/{{ city }}" + L.Util.getParamString(customParams),
                success: function(data) {
                    $(data.features).each(function(key, data) {
                        nodes.addData(data);
                    });
                    clusterGroup.clearLayers();
                    clusterGroup.addLayer(nodes);
                    loadHashId();
                }
                });
        }

        mymap.on('moveend', load_geojson);
        var box = L.control.messagebox({ timeout: 5000 }).addTo(mymap);
        loadHash({{ external_data['center_lat'] }},{{ external_data['center_lon'] }},{{ external_data['zoom_level'] }});

    </script>
{% endblock %}

{% block styles %}
    {{super()}}
    {% include "head_map_css.html" %}
{% endblock %}

{% block content %}
    <div class ="container">
        <div class="page-header">
            <h1>{{ _('Missing Parking Map') }} {{ city }}
                {% if is_cluster %}
                    <small>({{ _('Clustered') }})</small>
                {% endif %}
            </h1>
            <ul>
                <li>{{ _('Total Parking') }}: {{ all_parking }}</li>
                <li>{{ _('Missing Parking') }}: {{ missing_parking }}</li>
                <li>{{ _('Coverage') }}: {{ "%.2f"|format(100 - missing_parking / all_parking * 100) }}%</li>
                <li>{{ _('Datasource') }}: <a href="{{ external_data['datasource_link'] }}">{{ external_data['datasource'] }}</a> / {{ _('License') }}: <a href="{{ external_data['license_link'] }}">{{ external_data['license'] }}</a></li>
                <li>{{ _('More') }}: 
                    {% if external_data['is_cluster'] %}
                        {% if is_cluster %}
                            <a href="?">{{ _('Remove Clustering') }}</a> &#x2022;
                        {% else %}
                            <a href="?is_cluster=true">{{ _('Show Clustered') }}</a> &#x2022;
                        {% endif %}
                    {% endif %}
                    <a href="/geojson/missing/{{ city }}{% if is_cluster %}?is_cluster=true{% endif %}" target="_blank">{{ _('Export Missing') }} (GeoJSON)</a>
                </li>
            </ul>
        </div>
        <div id="mapid"></div>
        <ul style="list-style-type: none">
            <li><input type="checkbox" id="show_green" checked="checked" onchange="load_geojson();" /> {{ _('green')}} - {{ _('Data found in OpenStreetMap')}}</li>
            <li><input type="checkbox" id="show_red" checked="checked" onchange="load_geojson();" /> {{ _('red')}} - {{ _('Missing data in OpenStreetMap')}}</li>
        </ul>
    </div>
{%- endblock %}