<h3>{{ node['gml_id']|e }}</h3>
<table class="mapPopupTable">
    <tbody>

{% for col_name in node.keys() %}
{% if col_name not in ['gml_id', 'geom', 'lat', 'lon', 'x', 'y', 'geojson', 'ogc_fid', 'int_osm_id', 'int_typ', 'int_name', 'int_access', 'int_bicycle_parking', 'int_capacity', 'int_covered'] %}
        {% if node[col_name] %}
            <tr><th>{{ col_name }}</th><td>{{ node[col_name]|e }}</td></tr>
        {% endif %}
    {% endif %}
{% endfor %}

</tbody>
</table>
{% if node['int_osm_id'] %}
    <hr/>
    <table class="mapPopupTable">
        <tbody>
    {% if node['int_name'] %}
            <tr><th>{{ _('Name') }}</th><td>{{ node['int_name']|e }}</td></tr>
    {% endif %}
    {% if node['int_bicycle_parking'] %}
            <tr><th>{{ _('Bicycle Parking') }}</th><td>{{ node['int_bicycle_parking']|e }}</td></tr>
    {% endif %}
    {% if node['int_capacity'] %}
            <tr><th>{{ _('Capacity') }}</th><td>{{ node['int_capacity']|e }}</td></tr>
    {% endif %}
    {% if node['int_covered'] %}
            <tr><th>{{ _('Covered') }}</th><td>{{ node['int_covered']|e }}</td></tr>
    {% endif %}
    {% if node['int_access'] %}
            <tr><th>{{ _('Access') }}</th><td>{{ node['int_access']|e }}</td></tr>
    {% endif %}
        </tbody>
    </table>
    {% with osm_id=node['int_osm_id'], typ=node['int_typ'] %}{% include "osm_id_node.html" %}{% endwith %}
{% endif %}