{% if node['number'] %}
    <h3>{{ node['number']|e }}</h3>
{% endif %}
<table class="mapPopupTable">
    <tbody>

{% for col_name in node.keys() %}
{% if col_name not in ['gml_id', 'geom', 'lat', 'lon', 'x', 'y', 'geojson', 'osm_geojson', 'int_osm_id', 'int_typ', 'int_name', 'int_ref', 'int_network', 'int_operator', 'target_operator', 'target_network'] %}
        {% if node[col_name] %}
            <tr><th>{{ col_name }}</th><td>{{ node[col_name]|e }}</td></tr>
         {% endif %}
    {% endif %}
{% endfor %}

</tbody>
</table>
<hr/>
{% if node['int_osm_id'] %}
    <table class="mapPopupTable">
        <tbody>
    {% if node['int_name'] %}
            <tr><th>{{ _('Name') }}</th><td {% if node['int_name'] != node['name'] %} title="{{ node['name'] }}?" style="background-color: yellow;"{% endif %}>{{ node['int_name']|e }}</td></tr>
    {% endif %}
    {% if node['int_ref'] %}
            <tr><th>{{ _('Ref') }}</th><td {% if node['int_ref'] != node['number']|string %} title="{{ node['number'] }}?" style="background-color: yellow;"{% endif %}>{{ node['int_ref']|e }}</td></tr>
    {% endif %}
    {% if node['int_operator'] %}
            <tr><th>{{ _('Operator') }}</th><td {% if node['int_operator'] != node['target_operator'] %} title="{{ node['target_operator'] }}?" style="background-color: yellow;"{% endif %}>{{ node['int_operator']|e }}</td></tr>
    {% endif %}
    {% if node['int_network'] %}
            <tr><th>{{ _('Network') }}</th><td {% if node['int_network'] != node['target_network'] %} title="{{ node['target_network'] }}?" style="background-color: yellow;"{% endif %}>{{ node['int_network']|e }}</td></tr>
    {% endif %}
        </tbody>
    </table>
    {% with osm_id=node['int_osm_id'], typ=node['int_typ'] %}{% include "osm_id_node.html" %}{% endwith %}
{% else %}
    {{ _('Open Editor') }}:
    <small>
        (<a href="https://localhost:8112/load_and_zoom?top={{ node['lat'] }}&bottom={{ node['lat'] }}&left={{ node['lon'] }}&right={{ node['lon'] }}" title="{{ _("load in JOSM") }}" target="_blank">josm</a>
        | <a href="https://osm.org/edit#map=19/{{ node['lat'] }}/{{ node['lon'] }}&comment=%23bikeparking" title="{{ _("edit with iD Editor") }}" target="_blank">iD</a>)
    </small>
{% endif %}