{%- extends "base.html" %}

{% block title %}{{ _('Parking Map') }}{% endblock %}

{% block scripts %}
    {{super()}}
    {% include "head_map_js.html" %}
    <script>
        var start_at_zoom = 11;

        function load_geojson() {

            if (mymap.getZoom() < start_at_zoom){
                console.log('Skip loading geojson : ' + mymap.getZoom());
                box.show( "{{ _('Need to zoom in to view bicycle parking') }}" );
                return;
            }

            var customParams = {
                bbox: mymap.getBounds().toBBoxString()
            };

            $.ajax({
                dataType: "json",
                url: "/geojson/parking/"+ document.getElementById("selectTag").value + L.Util.getParamString(customParams),
                success: function(data) {
                    nodes.clearLayers();
                    $(data.features).each(function(key, data) {
                        nodes.addData(data);
                    });
                    clusterGroup.clearLayers();
                    clusterGroup.addLayer(nodes);
                    loadHashId();
                }
                });
            selectBox = document.getElementById("selectValue");
            if (selectBox.options.length<2)
                reloadSelectValue();
        }

        function clearSelectValue() {
            selectBox = document.getElementById("selectValue");
            while (selectBox.options.length) {
                selectBox.remove(0);
            }
            var option = document.createElement("option");
            option.text = "-";
            selectBox.add(option);
        }

        function changeTag() {
            clearSelectValue();
            load_geojson();
            reloadSelectValue();
        }

        function reloadSelectValue() {
            var customParams = {
                bbox: mymap.getBounds().toBBoxString()
            };
            $.ajax({
                dataType: "json",
                url: "/geojson/value/"+ document.getElementById("selectTag").value + L.Util.getParamString(customParams),
                success: function(data) {
                    selectBox = document.getElementById("selectValue");
                    while (selectBox.options.length) {
                        selectBox.remove(0);
                    }
                    var option = document.createElement("option");
                    option.text = "-";
                    selectBox.add(option);
                    for (line in data) {
                        option = document.createElement("option");
                        option.text = data[line];
                        selectBox.add(option);
                    }

                    option = document.createElement("option");
                    option.text = "{{ _('-Reload Values-') }}";
                    selectBox.add(option);
                }
                });
        }

        function changeValue() {
            if (document.getElementById("selectValue").value == '{{ _('-Reload Values-') }}' )
                reloadSelectValue();
            else
                load_geojson();
        }

        mymap.on('moveend', load_geojson);
        var box = L.control.messagebox({ timeout: 5000 }).addTo(mymap);
        load_geojson();
    </script>
{% endblock %}

{% block styles %}
    {{super()}}
    {% include "head_map_css.html" %}
{% endblock %}

{% block content %}
        <h1>{{ _('Parking Map') }}</h1>

        <div class="card-group">
            <div class="card">
                <div class="card-header p-2" style="font-size: .875rem;">
                    {{ _('Highlight') }}
                </div>
                <div class="card-body form-inline p-2">
                    <select id="selectTag" onchange="changeTag()" class="form-control form-control-sm mr-2">
                        <option value="bicycle_parking" selected="selected">{{ _('Bicycle Parking') }}</option>
                        <option value="capacity">{{ _('Capacity') }}</option>
                        <option value="covered">{{ _('Covered') }}</option>
                        <option value="access">{{ _('Access') }}</option>
                    </select>
                    <select id="selectValue" onchange="changeValue()" class="form-control form-control-sm">
                        <option>-</option>
                    </select>
                </div>
            </div>
            <div class="card">
                <div class="card-header p-2" style="font-size: .875rem;">
                    {{ _('Legend and filter') }}
                </div>
                <div class="card-body p-2">
                    <ul class="list-unstyled m-0">
                        <li class="form-check form-control-sm">
                            <input class="form-check-input" type="checkbox" id="show_green" checked="checked" onchange="changeValue()" /> 
                            <label class="form-check-label" for="show_green">{{ _('green')}} - {{ _('Tag exists and matched value if defined')}}</label>
                        </li>
                        <li class="form-check form-control-sm">
                            <input class="form-check-input" type="checkbox" id="show_yellow" checked="checked" onchange="changeValue()" /> 
                            <label class="form-check-label" for="show_yellow">{{ _('yellow')}} - {{ _('Have this tag but value don\'t match') }}</label>
                        </li>
                        <li class="form-check form-control-sm">
                            <input class="form-check-input" type="checkbox" id="show_red" checked="checked" onchange="changeValue()" /> 
                            <label class="form-check-label" for="show_red">{{ _('red')}} - {{ _('Tag not defined')}}</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="mapid"></div>

{%- endblock %}
