{%- extends "base.html" %}

{% block title %}{{ _('Statistics') }} {{ city_name }}{% endblock %} 

{% block scripts %}
    {{super()}}
    <script>
        function searchText() {
            if (document.getElementById("searchTextField").value.length > 2) {
                document.getElementById("searchForm").action = "{{ url_for('main.statistics') }}/"+document.getElementById("searchTextField").value;
            } else
                return false;
        }
    </script>
{% endblock %}

{% block content %}
        <div class="page-header">
            <h1>{{ _('Statistics') }} {{ city_name }} -
                {% if rental %}
                    {{ _('Bicycle Rental') }}
                {% else %}
                    {{ _('Bicycle Parking') }}
                {% endif %}
            </h1>
            <ul>
                {% if osm_id != 0 %}
                    <li>{% with osm_id=osm_id %}{% include "osm_id_way.html" %}{% endwith %}</li>
                {% endif %}
                <li>{{ _('More') }}: 
                    {% if rental %}
                        <a href="?">{{ _('Bicycle Parking') }}</a>
                    {% else %}
                        <a href="?rental=true">{{ _('Bicycle Rental') }}</a>
                    {% endif %}
                </li>
            </ul>
        </div>

        <form action="javascript:searchText()" onsubmit="return searchText()" id="searchForm">
            <input type="text" id="searchTextField" />
            {% if rental %}
                <input type="hidden" name="rental" value="{{ rental }}" />
            {% endif %}
            <input type="submit" value="{{ _('Search')}}" />
        </form>

        {% set ns = namespace(totalCount=0) %}

        <h2>{{ _('by Type') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Type') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Sum of capacity') }}</th>
            </thead>
            <tbody>
                {% for row in main %}
                <tr>
                    <td>{{ row['typ']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ row['sum_capacity'] }}</td>
                    {% set ns.totalCount = ns.totalCount + row['count'] %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if bicycle_parking %}
        <h2>{{ _('by Bicycle Parking') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in bicycle_parking %}
                <tr>
                    <td>{{ row['bicycle_parking']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='bicycle_parking', value=row['bicycle_parking'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if access %}
        <h2>{{ _('by Access') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in access %}
                <tr>
                    <td>{{ row['access']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='access', value=row['access'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if covered %}
        <h2>{{ _('by Covered') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in covered %}
                <tr>
                    <td>{{ row['covered']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='covered', value=row['covered'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <h2>{{ _('by Operator') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in operator %}
                <tr>
                    <td>{{ row['operator']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='operator', value=row['operator'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if network %}
        <h2>{{ _('by Network') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in network %}
                <tr>
                    <td>{{ row['network']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='network', value=row['network'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if position %}
        <h2>{{ _('by Position') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in position %}
                <tr>
                    <td>{{ row['position']|e if row['position'] != None }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='bicycle:position', value=row['fee'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif%}

        {% if fee %}
        <h2>{{ _('by Fee') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in fee %}
                <tr>
                    <td>{{ row['fee']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='fee', value=row['fee'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <a href="#top" class="btn btn-primary" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
            {{ _('Back to Top') }} <i class="glyphicon glyphicon-chevron-up"></i>
        </a>
{%- endblock %}
