{%- extends "base.html" %}

{% block title %}{{ _('Statistics') }} {{ city_name }}{% endblock %} 

{% block scripts %}
    {{super()}}
    <script>
        function searchText() {
            if (document.getElementById("searchTextField").value.length > 2)
                window.location.href = "{{ url_for('main.statistics') }}/"+document.getElementById("searchTextField").value;
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{{ _('Statistics') }} {{ city_name }}</h1>
            {% if osm_id != 0 %}
                <p>{% with osm_id=osm_id %}{% include "osm_id_way.html" %}{% endwith %}</p>
            {% endif %}
        </div>

        <form action="javascript:searchText()" onsubmit="return searchText()">
            <input type="text" id="searchTextField" />
            <input type="button" onclick="searchText()" value="{{ _('Search')}}" />
        </form>

        {% set ns = namespace(totalCount=0) %}

        <h2>{{ _('by Type') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Type') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Sum of capacity') }}</th>
            </thead>
            <tbody>
                {% for row in main %}
                <tr>
                    <td>{{ row['typ']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ row['sum_capacity'] }}</td>
                    {% set ns.totalCount = ns.totalCount + row['count'] %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>{{ _('by Bicycle Parking') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in bicycle_parking %}
                <tr>
                    <td>{{ row['bicycle_parking']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='bicycle_parking', value=row['bicycle_parking'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>{{ _('by Access') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in access %}
                <tr>
                    <td>{{ row['access']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='access', value=row['access'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>{{ _('by Covered') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in covered %}
                <tr>
                    <td>{{ row['covered']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='covered', value=row['covered'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>{{ _('by Operator') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in operator %}
                <tr>
                    <td>{{ row['operator']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='operator', value=row['operator'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>{{ _('by Position') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in position %}
                <tr>
                    <td>{{ row['position']|e if row['position'] != None }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='bicycle:position', value=row['fee'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2>{{ _('by Fee') }}</h2>
        <table class="table table-striped">
            <thead>
                <th>{{ _('Value') }}</th>
                <th>{{ _('Count') }}</th>
                <th>{{ _('Percent') }}</th>
                <th>{{ _('OSM-Links') }}</th>
            </thead>
            <tbody>
            {% for row in fee %}
                <tr>
                    <td>{{ row['fee']|e }}</td>
                    <td>{{ row['count'] }}</td>
                    <td>{{ "%.2f"|format(row['count'] / ns.totalCount * 100) }}&nbsp;%</td>
                    <td>{% with key='fee', value=row['fee'] %}{% include "overpass_link.html" %}{% endwith %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{%- endblock %}